body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  min-height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
}

.title{
    text-align: left;
}

nav {
  background-color: #333; /* Background color of the navigation bar */
  padding: 20px;
  display: flex;
  justify-content: space-between; /* To push the title and button to the opposite sides */
  align-items: center;
  color: #fff; /* Text color for the title and button */
}

.navbar-left h1 {
  margin: 0;
}

.navbar-right a {
    text-decoration: none;
  background-color: #0988ff; /* Background color of the button */
  color: #fff; /* Text color for the button */
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: .5s ease;
}

.navbar-right a:hover{
  background-color: #2fffac; /* Background color of the button */
  color: #fff; /* Text color for the button */
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: .5s;
}

.card {
  width: 300px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f8f8f8;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: 0.5s ease;
  align-self: center;
}
  
.card:hover {
    transform: scale(1.2);
    transition: .5s;
    cursor: pointer;
}

.card_header {
  background-color: #007bff;
  color: #fff;
  padding: 10px;
  border-radius: 8px;
}

#dev {
    text-decoration: none;
    color: #fff;
}

#song {
    text-decoration: none;
    color: #0988ff;
}

h2 {
  margin: 0;
}

img {
  max-width: 100%;
  border-radius: 8px;
  margin-top: 20px;
}

footer {
  background-color: #f0f0f0;
  padding: 10px;
  text-align: center;
}
